<!DOCTYPE html>
<html>
<head>
    <title>谢谢捐助！</title>
</head>
<body>
<div>
    <p>如果你觉得此工具帮助到你了，您可以通过手机“支付宝钱包”应用扫描二维码进行捐赠；</p>
    <img src="static/img/donate.jpg">
    <p>所得的款项会保障继续在网络上运行此工具</p>
    <p>本工具开源在<img src="/static/img/github.png"><a href="https://github.com/xavierskip/hupu_Album_Downloader">GitHub</a></p>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-56936423-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>