<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="utf-8">
    <title>虎扑相册图片抓取器</title>
    <meta name="keywords" content="hupu,hoopchina,albums,picture,spider,crawl,虎扑,相册,抓图">
    <meta name="description" content="download hoopchina.com users's albums pictures">
    <meta name="author" content="Xavier skip">
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
    <script src="/static/main.js"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
    <div id="body">
        <!-- content -->
        <div id="wrap">
            <header>相册图片抓取器</header>
            <div id="console">
                <label>相册URL: <input type="text" name="albumurl" size=50></label>
                <button id="crawl" class="btn">抓取</button>
                <div id="load">
                    <p class="loading spin"></p>
                    <p>正在抓取，请稍等～～</p>
                </div>
                    <p class="tips">like this:<a class="a" class="a" href="http://my.hupu.com/sunyatsen/photo/a135716.html" target="blank">http://my.hupu.com/sunyatsen/photo/a135716.html</a></p>
            </div>
            <div id="data" class="left">
                <form>
                    <p>
                        <input type=button value="全选" onClick="javascript:this.form.text.focus();this.form.text.select();"><span>Ctrl + c 复制下来,用下载工具下载</span>
                    </p>
                    <textarea id="output" class="urltext" name="text" rows="23" cols="65" readonly="readonly"></textarea>
                </form>
            </div>
            <div id="albuminfo" class="right">
                <p>相册信息:</p>
                <article>
                    <img src="" id="albumcover">
                    <p id="albumtitle"></p>
                    <p id="albumpics"></p>
                </article>
                <div id="sharetab" style="display: none;">
                    <wb:share-button appkey="4109392084" addition="number" type="button" language="zh_cn"></wb:share-button>
                </div>
            </div>
        </div>
        <!-- navigation tabs -->
        <div class="tabs">
            <div id="link1" class='links'>
                <p>
                    <a href="{{ url_for('albums') }}">抓取历史</a>
                </p>
            </div>
            <div id="link2" class='links'>
                <p>
                    <a href="#login-model">登陆抓取</a>
                </p>
            </div>
            <span class="clear"></span>
        </div>
    </div>
    <!-- footer -->
    <footer>
        如果本工具对您有帮助，希望您能够<a  class="a" href="{{ url_for('donate') }}">捐助</a>此工具| Last updated <span id="lastDate">{{ lastDate }}</span> | <a class="a" href="mailto:xavierskip@gmail.com?Subject=BUG:" target="_blank">反馈</a>
    </footer>
    <!-- login box -->
    <div id="loginModel" class="fix">
        <span class="title">登陆方式</span>
        <div id="wb_connect_btn" >
            <a href="{{ url_for('oauth') }}"><img src="{{ url_for('static', filename='img/sina.png') }}"></a>
        </div>
    </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-56936423-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
