<!-- <html xmlns:wb="http://open.weibo.com/wb"> -->
{% extends "base.html" %}
{% block title%}虎扑相册图片抓取器{% endblock title%}
{% block head -%}
{{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
    <script src="/static/main.js"></script>
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
{%- endblock head %}
{% block body %}
    <div id="main">
        {% block userinfo %}{% endblock userinfo %}
        <!-- content -->
        <div id="wrap">
            <header>相册图片抓取器</header>
            <div id="console">
                {% block label %}{% endblock label %}
                <button id="crawl" class="btn">抓取</button>
                <div id="load">
                    <p class="loading spin"></p>
                    <p>正在抓取，请稍等～～</p>
                </div>
                {% block tips %}{% endblock tips %}
            </div>
            <div id="data" class="left">
                <form>
                    <p>
                        <input type=button value="全选" onClick="javascript:this.form.text.focus();this.form.text.select();"><span>Ctrl + c 复制下来,用下载工具下载</span>
                    </p>
                    <textarea id="output" class="urltext" name="text" rows="23" cols="65" readonly="readonly"></textarea>
                </form>
            </div>
            <div id="albuminfo" class="right">
                <p>相册信息:</p>
                <article>
                    <img src="" id="albumcover">
                    <p id="albumtitle"></p>
                    <p id="albumpics"></p>
                </article>
                <div id="sharetab" style="display: none;">
                    <wb:share-button appkey="4109392084" addition="number" type="button" language="zh_cn"></wb:share-button>
                </div>
            </div>
        </div>
        {% block nav %}{% endblock nav %}
    </div>
    <footer>
    如果本工具对您有帮助，希望您能够<a  class="a" href="{{ url_for('donate') }}">捐助</a>此工具 | <a class="a" href="mailto:xavierskip@gmail.com?Subject=BUG:" target="_blank">反馈</a>
    </footer>
{% block popup %}{% endblock popup %}
{% endblock body %}