{% extends "base.html" %}
{% block title%}{{ Banner|default('历史记录') }}{% endblock title%}
{% block head -%}
{{ super() }}
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body{
            font-size: 13px;
            color: #545454;
        }
        p, ul, ol, li{ margin: 0;padding: 0;}
        a { text-decoration: none;color: #464646;cursor: pointer;padding: 2px}
        a:hover{ text-decoration: none;}
        ul {list-style: none;}

        .title {padding: 2px;}
        .album_list img { box-shadow: 2px 2px 5px #ccc; padding: 2px;}
        .album_list img:hover{color: #fff;background-color: #7ad;}
        .album_list li{
            display: inline-block;
            padding: 5px 5px 0 5px;
            line-height: 18px;
            height: 281px!important;
            height: 291px;
            width: 144px;
            overflow: hidden;
        }
        .pagination>li>a{
            padding: 2px 7px;
            border: #CCCCCC 1px solid;
            margin: 0 3px;
            font-family: Tahoma;
            color: #444;
        }
        .pagination .active a,
        .pagination .active a:hover{
            background: #95071B;
            border-color: #95071B;
        }
        .pagination>li>a:hover{
            background: #95071B;
            border-color: #95071B;
            color: #fff;
        }
        .pagination .disabled span{
            border: 0;
        }
        .pagination .disabled span:hover{
            cursor: default;
        }
        .navborder{
            border-top: 1px solid #ff4411;
        }
        .page-header{
            padding-bottom: 0;
            border-bottom: 0; 
        }
    </style>
{%- endblock head %}
{%- block body %}
<div class="container">
    <div class="page-header">
        <h1>{{ Banner|default('历史记录') }} <small><a href="{{url_for('index')}}"> 回首页</a></small></h1>
    </div>
    {% block nav %}{% endblock nav%}
    <ul class="album_list">
        {% for album in albums -%}
            <li>
                <a href="{{url_for('preview')}}?url={{ album.url }}" target=_blank><img src="{{album.cover}}"></a>
                <p class="title">
                <a href="{{ album.url }}">{{ album.title }}(共{{ album.pics }}张)</a>
                </p>
                <p>抓取到{{album.getPics}}张┊{{album.times}}次</p>
            </li>
        {% else %}
            <em>怎么会没有呢？</em>
        {%- endfor %}
    </ul>
    <footer>
        <ul class="pagination">
            {%- for p in pages %}
                {% if not p -%}
                    <li class="disabled"><span aria-hidden="true">...</span></a></li>
                {%- elif p == currentpage -%}
                    <li class="active" ><a href="{{url_for( func )}}?page={{p}}">{{p}}<span class="sr-only">(current)</span></a></li>
                {%- else -%}
                    <li><a href="{{url_for( func )}}?page={{p}}">{{p}}</a></li>
                {%- endif -%}
            {%- endfor %}
        </ul>
    </footer>
</div>
{% endblock body -%}
