{% extends "base.html" %}
{% block title%}{{ title }}{% endblock title%}
{% block head -%}
{{ super() }}
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        .grid-item { width: 130px; margin-bottom: 23px;}
        .grid-item img { box-shadow: 2px 2px 4px #646363; cursor: pointer;}
        .overlay {
            background: #0b0b0b;
            opacity: .9;
            position: fixed;
            left: 0px;
            top: 0px;
            height: 100%;
            width: 100%;
            display: none;
            overflow: hidden;
        }
        .previewBox{
            text-align: center;
            position: fixed;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            display: none;
            cursor: zoom-out;
        }
        .mask-content {
            max-width: 100%;  
            position: relative;
            display: inline-block;
            vertical-align: middle;
            margin: 0 auto;
            text-align: left;
            z-index: 1045;          
        }
        .previewBox>.mask-content img{
            width: auto;
            max-width: 100%;
            height: auto;
            display: block;
            line-height: 0;
            padding: 7px 0;
            margin: 0 auto;
            position: relative;
            vertical-align: middle; 
            text-align: left;
            z-index: 1045;  
            cursor: pointer;     
        }
        .mask-load {
            position: absolute;
            top: 50%;
            left: 50%;
            text-align: center;
            line-height: 0;
        }
        .loading {
            width: 3px; height:3px;
            border-radius: 100%;      
            box-shadow:
            0 -10px 0 #666,  
            10px 0px #666,   
            0 10px #666, 
            -10px 0 #666,                          
            -7px -7px 0 #666, 
            7px -7px 0 #666,                     
            7px 7px #666, 
            -7px 7px #666;
            position: relative;
            top: -5px;  
        }
        .spin {
            transform: rotate(360deg);
            animation: spin 1s linear infinite;
            -webkit-transform: rotate(360deg);
            -webkit-animation: spin 1s linear infinite; 
        }
        @keyframes spin {
            from {transform: rotate(0deg);}
              to {transform: rotate(360deg);}
        }
        @-webkit-keyframes spin {
            from {-webkit-transform: rotate(0deg);}
              to {-webkit-transform: rotate(360deg);}
        }
    </style>
    <script src="//upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js"></script>
    <script src="{{ url_for('static', filename='imagesloaded.pkgd.min.js') }}"></script>
    <script src="{{ url_for('static', filename='masonry.pkgd.min.js') }}"></script>
{%- endblock head %}
{% block body %}
<div class="container">
    <h2><a href="{{ url }}">{{ title }}</a><small>共{{ count }}张<a href="{{url_for('albums')}}" class="glyphicon glyphicon-off" aria-hidden="true"> </a></small></h2>
    <p>
    download: <a href="{{url_for('getalbum')}}?url={{ url }}">txt</a>|<a href="{{url_for('zip')}}?url={{ url }}">zip</a>
    </p>
    <div class="grid">
    {%- for img in imgs %}
        <div class="grid-item"><img src="{{ img }}"></div>
    {% endfor -%}
    </div>
</div>
<div class="overlay"></div>
<div class="previewBox">
    <div class="mask-content">
        <img src="">        
    </div>
    <div class="mask-load"><p class="loading spin"></p></div>
</div>
{% endblock body %}
{% block script %}
<script type="text/javascript">
    var $grid = $('.grid').masonry({
      // options
      itemSelector: '.grid-item',
      columnWidth: 130,
      gutter: 23,
      transitionDuration: '0.2s'
    });
    // layout Masonry after each image loads
    $grid.imagesLoaded().progress( function( instance, image) {
      $grid.masonry('layout');
      image.isLoaded ? 'loaded' : console.log( 'image is ' + result + ' for ' + image.img.src );
      
    });
    // single img showbox
    var currentNode;//img node
    var f = false;//previewBox yes or no
    var mask = $(".overlay");
    var box = $(".previewBox");
    var viewimg = $(".previewBox .mask-content img");
    var loader = $('.mask-load')
    $(".grid-item").on("click",function(){
        showIMG();
        getIMG(this);
    });
    $(document).keydown(function(e){
        // console.log(e.keyCode);
        if(f){
            if(e.keyCode==37){
                prevImg();
            }
            else if(e.keyCode==39){
                nextImg();
            }
        }
    })
    $(window).resize(function(){
        viewimg.css('max-height',box.height());
        // console.log(box.height());
    });
    box.click(closeBox);
    viewimg.click(function(){
        event.stopPropagation();
        nextImg();
    });
    function getIMG(node){
        loader.show();
        viewimg.hide();
        currentNode = node;
        var img = node.querySelector('img');
        var src = img.src.replace(/small\./,'big.');
        viewimg.attr("src",src);
        viewimg.imagesLoaded()
        .always(function(){
            viewimg.show();
            loader.hide();
        });
        viewimg.css('max-height',box.height());
    };
    function prevImg(){
        var n;
        (n = $(currentNode).prev()[0]) ? getIMG(n) : console.log('to head');
    }
    function nextImg(){
        var n;
        (n = $(currentNode).next()[0]) ? getIMG(n) : console.log('to end');
    }; 
    function showIMG(){
        mask.show();
        box.show();
        f = !f;
        $('body').css('overflow','hidden');
    }
    function closeBox(){
        mask.hide();
        box.hide();
        viewimg.attr("src","");
        f = !f;
        $('body').css('overflow','')
    }
</script>
{% endblock script %}
</body>
</html>
